<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Favorites!</title>
	<meta name="description" content="CONTENT" >
    <script type="text/javascript"  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'br/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="{% static 'br/javascript/main.js' %}" media="screen" title="no title"  charset="utf-8">
</head>

<body>
<div class="container">
	<a href="/welcome">Home</a>
	<a href="/flavors">Flavors</a>
	<a class="floatright" href="/logout">Logout</a>
<h1>Favorite Flavors:</h1>
<table class="table">
	<thead>
		<tr>
			<th>Rank</th>
			<th></th>
			<th>Flavor</th>
			<th>Description</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for x in flavors %}
		<tr>
			<td></td>
			<td><img class="center" src="{% static 'br/images/enlarge' %}{{ x.imgname }}" width="72.5"></td>
			<td><a href="display/{{ x.id }}">{{ x.flavor }}</a></td>
			<td>{{ x.description }}</td>
			<td><a href="/removefromfavorites/{{ x.id }}">Remove from my Favorites</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>
</body>
</html>