* {
	margin: 0px;
	padding: 0px;
}
body {
	padding-top: 100px;
}
h1 {
	text-align: center;
}
#timer{
	text-align: center;
}
#map {
	margin: 25px;
}
.divide{
	width: 210px;
}
.floatright{
	float: right;
}
.inline{
	display: inline-block;
}
.center{
	text-align: center;
}
title, h1, h2, table, form, p{
	color: #fff;
}
button{
	margin: 10px;
}
img{
	text-align: center;
	margin: 5px;
}
a:link {
	color: #fff;
}
a:visited {
	color: #fff;
}
a:hover {
	color: #fff;
	text-decoration: none;
}
.flavorlink {
	font-size: 15px;
	text-align: center;
}
body{
	background: #eb83bf;
}
li {
	color: red;
}